Lezione2/Modulo3/bin/Esercizio2/Iterable.class
Lezione2/Modulo3/bin/Esercizio2/ListaDiInteri.class
Lezione2/Modulo3/bin/Esercizio3/Autore.class
Lezione2/Modulo3/bin/Esercizio3/Libreria2.class
Lezione2/Modulo3/bin/Esercizio3/Libro.class
